img{
    height: 150px;
}

#contenedor-imagenes{
    border: 5px solid red;
    position: relative;
}
.hus{
    position: absolute; 
    top:15px;
    right: 210px;
    z-index: 100;
    color: azure;
    font-size: 30px;
    font-weight: bold;
}
.husk{
    position: absolute; 
    top: 5px;
    right: 10px;
}
.gol1{
         position: relative; 
         top: 110px; 
         left: 250px;
         font-size: 25px;
         font-weight: bold;

}
.gold1{
         position: relative; 
         top: 40px; 
         left: 10px; 

}
.gol2{
    position: relative; 
    top: 90px;
    left: -15px; 
}
.car{
    position: relative; 
    left: 630px;
    top: 90px;
    font-size: 25px;
    font-weight: bold;
}
.carl{
    position: relative; 
    left: 740px; 
}
.pod{
    position: absolute; 
    top: 55px;
    left: 50%;
    z-index: 100;
    color: azure;
    font-size: 25px;
    font-weight: bold;
}
.pode{
    position: absolute; 
    top: 70px;
    left: 50%;

}